
@font-face {
    font-family: 'dum1.ttf'; 
    src: url('dum1.ttf') format('rrf'), 

  }
body, h1, h2, p, ul, ol, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-image: url(mainbg.jpg);
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
    color: floralwhite; 
}

header {
    background-image: url('path/to/your/image.jpg'); 
    background-size: cover; 
    background-position: center; 
    color: rgb(255, 255, 255);
    text-align: left; 
    padding: 20px;
    position:static; 
}
h1{
    color: white;
    font-family: 'dum1.tff';
    margin-right: 700px;
    margin-top: -120px;
    font-size: 75px;
}


nav {
    background-color: #0097b2;
    padding: 20px;
    text-align: right; 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
}

nav ol {
    list-style-type: none; 
}

nav li {
    display: inline; 
    margin-top: px;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #fff; 
}

nav a:hover {
    color: darkgrey; 
}

section {
    padding: 50px;
}

#about {
    font-size: larger;
    font-family: 'dum1.ttf', 'sans-serif';

}

#services {
    font-size: larger;
    font-family: 'dum1.ttf', 'sans-serif';
    
}

#contact {
    font-size: larger;
    font-family: 'dum1.ttf', 'sans-serif';
}


.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0097b2;
    color: white;
    text-decoration: none;
    margin-top: 20px;
    margin-right: 20px; 
    border-radius: 5px;
}

.cta-button:hover {
    background-color: darkgrey; 
}

footer {
    background-color: #0097b2; 
    color: #000000;
    text-align: center;
    padding: 15px;
    position:sticky; 
    bottom: 0; 
    width: 100%; 
}

.social-icons a {
    margin: 0 5px;
    padding: 20px;
}
.social-icons img {
    width: 30px;
    height: 30px;
}